<head>

    <title>Add Movie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING : Event Booking App </h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form th:action="@{/edit-events/add}" th:method="POST">
                    <input id="id" type="hidden" name="id"
                           th:value="(${event} != null ? ${event.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${event} != null ? ${event.getName()} : '')"
                               required
                               placeholder="Enter event name">
                    </div>
                    <div class="form-group">
                        <label for="name">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${event} != null ? ${event.getDescription()} : '')"
                               required
                               placeholder="Enter event description">
                    </div>
                    <div class="form-group">
                        <label for="name">Popularity Score</label>
                        <input type="number"
                               class="form-control"
                               id="popularityScore"
                               name="popularityScore"
                               th:value="${event != null ? event.popularityScore : ''}"
                               required
                               placeholder="Enter event popularity">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <label for="location">
                            <select id="location" name="locationId" class="form-control">
                                <option th:if="${event} != null"
                                        th:selected="${event.getLocation() != null &&
                                    event.getLocation().getId() == location.getId()}"
                                        th:each="location : ${locations}"
                                        th:value="${location.getId()}"
                                        th:text="${location.getName()}">
                                </option>
                                <option th:if="${event} == null"
                                        th:each="location : ${locations}"
                                        th:value="${location.getId()}"
                                        th:text="${location.getName()}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <label for="category">
                            <select id="category" name="categoryId" class="form-control">
                                <option th:if="${event} != null"
                                        th:selected="${event.getCategory() != null &&
                                    event.getCategory().getId() == category.getId()}"
                                        th:each="category : ${categories}"
                                        th:value="${category.getId()}"
                                        th:text="${category.getName()}">
                                </option>
                                <option th:if="${event} == null"
                                        th:each="category : ${categories}"
                                        th:value="${category.getId()}"
                                        th:text="${category.getName()}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/edit-events">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>